<%= form_for(@paciente) do |f| %>
  <% if @paciente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paciente.errors.count, "error") %> prohibited this paciente from being saved:</h2>

      <ul>
      <% @paciente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <br />
    <%= f.label :nome, "Nome" %>
    <%= f.text_field :nome %>

    <%= f.label :data_nascimento, "Data de Nascimento" %>
    <%= f.text_field :data_nascimento %>
  
    <%= f.label :naturalidade, "Naturalidade" %><br />
    <%= f.select :naturalidade, @estados %>
  
    <%= f.label :endereco, "Endereço" %><br />
    <%= f.text_field :endereco %>
  
    <%= f.label :estado_civil_id, "Estado Civil" %><br />
    <%= f.select :estado_civil_id, @estados_civis %>
  
    <%= f.label :num_filhos, "Número de Filhos" %><br />
    <%= f.text_field :num_filhos %>
  
    <%= f.label :num_partos, "Número de partos" %><br />
    <%= f.text_field :num_partos %>
    
    <%= f.label :num_abortos, "Número de Abortos" %><br />
    <%= f.text_field :num_abortos %>
    
    <%= f.label :profissao, "Profissão" %><br />
    <%= f.text_field :profissao %>
    
    <%= f.label :situacao_profissional, "Situação Profissional" %><br />
    <%= f.select :situacao_profissional, @situacoes_profissionais %>
    
    <%= f.label :nome_familiar, "Nome fo Familiar" %><br />
    <%= f.text_field :nome_familiar %>
    
    <%= f.label :telefone_familiar, "Telefone do Familiar" %><br />
    <%= f.text_field :telefone_familiar %>
  
  <div class="actions">
    <%= f.submit "Criar Paciente" %>
  </div>
<% end %>
