<h1>Listar Pacientes</h1>

<%= form_tag pacientes_path, :method => :get do %>
  <%= label_tag :search, "Busca por nome:" %>
  <%= text_field_tag :search %>
  <%= submit_tag "Buscar" %>
<% end %>

<% if @pacientes.any? %>
  <table>
    <tr>
      <th>Nome</th>
      <th>Data nascimento</th>
      <th>Idade</th>
      <th>Endereco</th>
      <th>Profissao</th>
      <th>Situacao profissional</th>
      <th></th>
    </tr>
    <% @pacientes.each do |paciente| %>
      <tr>
        <td><%= paciente.nome %></td>
        <td><%= paciente.data_nascimento %></td>
        <td><%= paciente.idade %></td>
        <td><%= paciente.endereco %></td>
        <td><%= paciente.num_abortos %></td>
        <td><%= paciente.profissao %></td>
        <td><%= paciente.situacao_profissional %></td>
        <td><%= link_to 'Detalhar', paciente %></td>
      </tr>
    <% end %>
  </table>

<% else %>

<% end %>

<br />

<%= link_to 'Criar Novo Paciente', new_paciente_path, :class => "btn btn-primary btn-large" %>
