<DIV class="well" style="width: 40%; margin-left: 30%">
<h2>Reenviar Instruções de Desbloqueio</h2>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email, "E-mail" %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "Reenviar Instruções de Desbloqueio",:class => "btn btn_primary" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
</DIV>