<div class="well" style="width: 40%; margin-left: 30%">
<h2>Login</h2>
<div style="float: right">
<%= image_tag "medico.png", :size => "128x128" %>
</div>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email, "E-mail" %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password, "Senha" %>
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me, "Manter logado" %></div>
  <% end -%>

  <div><%= f.submit "Login", :class => "btn btn-large" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>