<p id="notice"><%= notice %></p>

<p>
  <b>Paciente:</b>
  <%= @consulta.paciente_id %>
</p>

<p>
  <b>Medico:</b>
  <%= @consulta.medico_id %>
</p>

<p>
  <b>Motivo:</b>
  <%= @consulta.motivo %>
</p>

<p>
  <b>Hist doenca atual:</b>
  <%= @consulta.hist_doenca_atual %>
</p>

<p>
  <b>Hist doenca regressa:</b>
  <%= @consulta.hist_doenca_regressa %>
</p>

<p>
  <b>Data:</b>
  <%= @consulta.data %>
</p>

<p>
  <b>Diabetes:</b>
  <%= @consulta.diabetes %>
</p>

<p>
  <b>Hepatite:</b>
  <%= @consulta.hepatite %>
</p>

<p>
  <b>Transfusao sanguinea:</b>
  <%= @consulta.transfusao_sanguinea %>
</p>

<p>
  <b>Tabagismo:</b>
  <%= @consulta.tabagismo %>
</p>

<p>
  <b>Etilismo:</b>
  <%= @consulta.etilismo %>
</p>

<p>
  <b>Drogas ilicitas:</b>
  <%= @consulta.drogas_ilicitas %>
</p>

<p>
  <b>Fratura:</b>
  <%= @consulta.fratura %>
</p>

<p>
  <b>Cirurgias:</b>
  <%= @consulta.cirurgias %>
</p>

<p>
  <b>Tuberculose:</b>
  <%= @consulta.tuberculose %>
</p>

<p>
  <b>Alergia:</b>
  <%= @consulta.alergia %>
</p>

<p>
  <b>Intolerancia alimentar:</b>
  <%= @consulta.intolerancia_alimentar %>
</p>

<p>
  <b>Pneumonia:</b>
  <%= @consulta.pneumonia %>
</p>

<p>
  <b>Infeccao urinaria:</b>
  <%= @consulta.infeccao_urinaria %>
</p>

<p>
  <b>Nocturia:</b>
  <%= @consulta.nocturia %>
</p>

<p>
  <b>Disuria:</b>
  <%= @consulta.disuria %>
</p>

<p>
  <b>Urina espumosa:</b>
  <%= @consulta.urina_espumosa %>
</p>

<p>
  <b>Rx torax:</b>
  <%= @consulta.rx_torax %>
</p>

<p>
  <b>Eco cardiograma:</b>
  <%= @consulta.eco_cardiograma %>
</p>

<p>
  <b>Edcoscopia digestiva:</b>
  <%= @consulta.edcoscopia_digestiva %>
</p>

<p>
  <b>Eletro cardiograma:</b>
  <%= @consulta.eletro_cardiograma %>
</p>

<p>
  <b>Historico familiar pai:</b>
  <%= @consulta.historico_familiar_pai %>
</p>

<p>
  <b>Historico familiar mae:</b>
  <%= @consulta.historico_familiar_mae %>
</p>

<p>
  <b>Historico familiar irmaos:</b>
  <%= @consulta.historico_familiar_irmaos %>
</p>

<p>
  <b>Doenca renal na familia:</b>
  <%= @consulta.doenca_renal_na_familia %>
</p>

<p>
  <b>Familiar em dialise:</b>
  <%= @consulta.familiar_em_dialise %>
</p>

<p>
  <b>Medicacao em uso:</b>
  <%= @consulta.medicacao_em_uso %>
</p>

<p>
  <b>Ultra sonografia rins:</b>
  <%= @consulta.ultra_sonografia_rins %>
</p>

<p>
  <b>Dosagem 25 hipoxi vitamina d:</b>
  <%= @consulta.dosagem_25_hipoxi_vitamina_d %>
</p>

<p>
  <b>Dosagem ph intacto:</b>
  <%= @consulta.dosagem_ph_intacto %>
</p>


<%= link_to 'Edit', edit_consultum_path(@consulta) %> |
<%= link_to 'Back', consulta_path %>
