<!DOCTYPE html>
<html>
  <head>
    <title>ConsultaNefro</title>
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application" %>
      <%= javascript_include_tag "bootstrap" %>
      <%= javascript_include_tag "bootstrap.min" %>
      <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <%= link_to "ConsultaNefro", root_path, :class => "brand" %>
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <li class="icon-user"></li> Username
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li class="divider"></li>
              <li><a href="#">Sign Out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2 well sidebar-nav">
        <!--barra lateral-->
          <ul class="nav nav-list">
            <li class="nav-header">Consultas</li>
            <li>Nova Consulta</li>
            <li>Pesquisar Consultas</li>
            <li class="nav-header">Pacientes</li>
            <li><%= link_to "Novo Paciente", new_paciente_path %></li>
            <li><%= link_to "Pesquisar Pacientes", pacientes_path %></li>
          </ul>
        </div>
        <div class="span10 well">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
